#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#img
{
    width: 50%;
    height: 40%;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5px;    
}
#img:hover {
    position:relative;
    width:60%;
    height:45%;
}
#h1 {
    font-weight:400;
}
#h4 {
    font: size 25px;
}
body{
    background-color: lightskyblue;
}